{% extends 'base.html' %}

{% load static %}

{% block title %}Agregar Curso{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register_form.css' %}">
{% endblock %}

{% block content %}
    <div class="registration-container">
        <form class="registration-form" method="POST">
            <h2>Agregar Curso</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Agregar</button>
            <button type="submit_2"><a href="{% url 'listar_cursos' %}">Volver a la lista de cursos</a></button>
  </form>
  </div>
{% endblock %}