{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/reset_password_done.css' %}">
  <title>Solicitud de Restablecimiento de Contraseña Enviada</title>
</head>
<body>
  <div id="logo-container"></div>
  <form method="post">
    <h2>¡Se ha enviado un correo electrónico para restablecer la contraseña!</h2>
    <p>Revisa tu bandeja de entrada y sigue las instrucciones en el correo.</p>
    <p>Si no ves el correo, revisa tu carpeta de <span>spam</span>.</p>
    <a href="{% url 'signin' %}">Iniciar sesión</a>
  </form>
</body>
</html>