
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/reset_password_complete.css' %}">
  <title>Contraseña Restablecida</title>
</head>
<body>
  <div id="logo-container"></div>
  <form method="post">
    <h2>Tu contraseña ha sido restablecida con éxito.</h2>
    <p>Ya puedes iniciar sesión con tu nueva contraseña.</p>
    <a href="{% url 'signin' %}">Iniciar sesión</a>
  </form>
</body>
</html>