body {
    font-family: Arial, sans-serif; 
    background-image: url("/static/assets/fondo-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #ffc983 0%, #ff7b00 100%);
    opacity: 0.7;
    z-index: -1;
}

#logo-container {
    position: absolute;
    top: 180px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
    background-image: url("/static/assets/logo_unfv.png");
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 160px;
}

form {
    top: 40px; 
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff7b00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #ffbb00;
}

a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #ff7b00;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffbb00;
}

p[style*="color: red"] {
    color: #ff0000;
    text-align: center;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 330px) {
    #logo-container {
        width: 340px;
        top: 130px;
    }
    form {
        width: auto;
    }
}

@media only screen and (min-width: 600px) {
    #logo-container {
        width: 360px;
        top: 140px;
    }
    form {
        width: auto;
    }
}

@media only screen and (min-width: 768px) {
    #logo-container {
        width: 380px;
        top: 150px;
    }
    form {
        width: auto;
    }
}

@media only screen and (min-width: 1200px) {
    #logo-container {
        width: 400px;
    }
    form {
        width: auto;
    }
}
