{% extends 'base.html' %}

{% block title %}Editar Horario{% endblock %}

{% block content %}
<div class="registration-container">
    <h2>Editar Horario</h2>
    <form method="POST" id="horarioForm">
        {% csrf_token %}
        <div id="horarioContainer">
            <div class="horarioEntry">
                <label for="profesor">Profesor:</label>
                {{ form.profesor }}

                <label for="seccion">Sección:</label>
                {{ form.seccion }}

                {% for dia, hora_inicio, hora_fin in horario_data %}
                <label for="dia">Día:</label>
                <select name="dia_semana[]" required>
                    <option value="{{ dia }}">{{ dia }}</option>
                    <option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miércoles">Miércoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                    <option value="Sábado">Sábado</option>
                </select>

                <label for="hora_inicio">Hora Inicio:</label>
                <input type="time" name="hora_inicio[]" value="{{ hora_inicio }}" required>

                <label for="hora_fin">Hora Fin:</label>
                <input type="time" name="hora_fin[]" value="{{ hora_fin }}" required>
                {% endfor %}
            </div>
        </div>

        <button type="button" id="addHorario">+ Agregar otro día</button>
        <button type="submit">Guardar cambios</button>
        <a href="{% url 'listar_horarios' %}" class="btn btn-add">Regresar a la lista de horarios</a>
    </form>
</div>

<script>
    document.getElementById('addHorario').addEventListener('click', function() {
        var newEntry = document.createElement('div');
        newEntry.classList.add('horarioEntry');

        newEntry.innerHTML = `
            <label for="dia">Día:</label>
            <select name="dia_semana[]" required>
                <option value="Lunes">Lunes</option>
                <option value="Martes">Martes</option>
                <option value="Miércoles">Miércoles</option>
                <option value="Jueves">Jueves</option>
                <option value="Viernes">Viernes</option>
                <option value="Sábado">Sábado</option>
            </select>

            <label for="hora_inicio">Hora Inicio:</label>
            <input type="time" name="hora_inicio[]" required>

            <label for="hora_fin">Hora Fin:</label>
            <input type="time" name="hora_fin[]" required>
        `;

        document.getElementById('horarioContainer').appendChild(newEntry);
    });
</script>
{% endblock %}
