{% extends 'base.html' %}

{% block title %}Lista de Horarios{% endblock %}

{% block content %}
<h2>Lista de Horarios</h2>
<table>
    <thead>
        <tr>
            <th>Curso</th>
            <th>Profesor</th>
            <td>Seccion</td>
            <th>Día</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for horario in horarios %}
        <tr>
            <td>{{ horario.curso.nombre }}</td>
            <td>{{ horario.profesor.nombre }} {{ horario.profesor.apellido }}</td>
            <td>{{ horario.seccion }}</td>
            <td>{{ horario.dia_semana }}</td>
            <td>{{ horario.hora_inicio }}</td>
            <td>{{ horario.hora_fin }}</td>
            <td>
                <a href="{% url 'editar_horario' horario.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'listar_secciones' %}">Secciones</a>
<a href="{% url 'agregar_horario' %}">Agregar Horario</a>
{% endblock %}
