{% extends 'base.html' %}

{% load static %}

{% block title %}Editar Información Personal{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register_form.css' %}">
{% endblock %}

{% block content %}
<div class="registration-container">
  <form class="registration-form" method="POST">
    <h2>Editar Información Personal de {{ estudiante.usuario.username }}</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar Cambios</button>
    <button type="submit_2"><a href="{% url 'listar_estudiantes' %}">Volver a la lista</a></button>
  </form>
</div>
{% endblock %}