
{% extends 'base.html' %}

{% load static %}

{% block title %}Información del Estudiante{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register_form.css' %}">
{% endblock %}

{% block content %}
<div class="registration-container">
  <form class="registration-form" method="POST">
    <h2>Información del Estudiante</h2>
    <p><strong>Usuario:</strong> {{ estudiante.usuario.username }}</p>
    <p><strong>Nombre:</strong> {{ estudiante.informacionpersonal.nombre }}</p>
    <p><strong>Apellido:</strong> {{ estudiante.informacionpersonal.apellido }}</p>
    <p><strong>DNI:</strong> {{ estudiante.informacionpersonal.dni }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ estudiante.informacionpersonal.fecha_nacimiento }}</p>
    <button type="submit_3"><a href="{% url 'editar_informacion_personal' estudiante.pk %}">Editar Información Personal</a></button>
    <button type="submit_2"><a href="{% url 'listar_estudiantes' %}">Volver a la lista</a></button>
  </form>
</div>
{% endblock %}



