{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de Matrículas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/student_list.css' %}">
{% endblock %}

{% block content %}
<div class="student-list-container">
    <h2>Lista de Matrículas</h2>
    <div class="table-responsive">
        <table class="student-table">
            <thead>
                <tr>
                    <th>Estudiante</th>
                    <th>Semestres</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante, data in matriculas_info.items %}
        <tr>
            <td>{{ data.info_personal.nombre }} {{ data.info_personal.apellido }}</td>
            <td>
                <!-- Listar los semestres en los que el estudiante está matriculado -->
                <ul>
                {% for matricula in data.matriculas %}
                    <li>
                        {{ matricula.semestre.año }} - {{ matricula.semestre.periodo }}
                        <a href="{% url 'ver_matricula' matricula.id %}" class="btn-elim btn-edit-elim">Ver Matrícula</a>
                        <form method="POST" action="{% url 'eliminar_matricula' matricula.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta matrícula?')" class="btn-elim btn-edit-elim">Eliminar</button>
                        </form>
                    </li>
                {% endfor %}
                </ul>

            </td>
            <td>
                <a href="{% url 'descargar_pdf' data.matriculas.0.estudiante.id %}" class="btn-2 btn-add-2" >Descargar PDF</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay matrículas disponibles.</td>
        </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'crear_matricula' %}" class="btn btn-add">Agregar Matrícula</a>
</div>

{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}


