{% extends 'base.html' %}

{% block title %}Lista de Matrículas{% endblock %}

{% block content %}
<h2>Lista de Matrículas</h2>
<a href="{% url 'crear_matricula' %}">Agregar Matrícula</a>
<table>
    <thead>
        <tr>

            <th>Estudiante</th>
           <!-- <th>Semestre</th>-->
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for estudiante, matriculas in matriculas_info.items %}
            {% for matricula in matriculas %}
            <tr>
                <td>{{ estudiante }}</td>
                <!--<td>{{ matricula.semestre.año }} - {{ matricula.semestre.periodo }}</td>-->
                <td>
                    <a href="{% url 'ver_matricula' matricula.id %}">Ver Matrícula</a>
                    <a href="{% url 'eliminar_matricula' matricula.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta matrícula?');">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td colspan="3">No hay matrículas disponibles.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
