{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image" href="/static/assets/favicon.ico"/>
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  <title>Matrícula UNFV</title>
</head>
<body>
  <div id="logo-container"></div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <button type="submit">Sign In</button>
    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
  </form>
</body>

</html>
